.text-bold {
    font-weight: 700;
}
.text-normal {
    font-weight: normal;
}
.text-semibold {
    font-weight: 600;
}

.text-extrabold {
    font-weight: 800;
}

.rdn .text-smaller {
    font-size: 6.2pt;
}

.text-5pt {
    font-size: 5pt;
}
.text-10px {
    font-size: 10px;
}

.whitespace-nowrap {
    white-space: nowrap;
}

